name: RSpec

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "0 10 * * *"

jobs:
  rspec:
    runs-on: ubuntu-latest

    env:
      CI: true

    strategy:
      fail-fast: false
      matrix:
        ruby: [3.1, 3.2, 3.3, 3.4]
        gemfile: [
          "gemfiles/rubocop_1.72.gemfile",
          "gemfiles/rubocop_latest.gemfile",
          "gemfiles/rubocop_edge.gemfile"
        ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: /home/runner/bundle
          key: bundle-${{ matrix.ruby }}-${{ matrix.gemfile }}-${{ hashFiles(matrix.gemfile) }}-${{ hashFiles('**/*.gemspec') }}
          restore-keys: |
            bundle-${{ matrix.ruby }}-${{ matrix.gemfile }}-
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install libsqlite3-dev
      - name: Bundle install
        run: |
          bundle config path /home/runner/bundle
          bundle config --global gemfile ${{ matrix.gemfile }}
          bundle install
          bundle update
      - name: Run RSpec
        run: |
          bundle exec rake spec
